## Exercise 1

Extract only the consonants from the word luguburious


Output => "lgbrs"

In [1]:
consonants = ""
vowels = "aeiou"
word = "luguburious"

for i in word:
    if i not in vowels:
        consonants += i
        
consonants

'lgbrs'

## Exercise 2

Part 1: 


Find the total number characters in this list of strings

In [2]:
sf_streets = ["Market", "Mission", "Lombard", "Geary", "Van Ness", 
              "Embarcadero", "Haight", "Divisadero Street"]
total_characters = 0


for street in sf_streets:
    
    total_characters += len(street)
    
total_characters

67

Part 2:

Create a string that is the capitalized first letter of each street in alphabetical order.

In [3]:
capitalized_str = ""

for street in sf_streets:
    capitalized_str += street[0]
    
sorted(capitalized_str)

['D', 'E', 'G', 'H', 'L', 'M', 'M', 'V']

## Exercise 3

Iterate over numbers 5 to 35, square the odd numbers and double the even numbers and append them to the output list.

In [5]:
output = []

In [6]:
for i in range(5, 36):
    
    if i % 2 == 0:
        output.append(i/2)
    else:
        output.append(i**2)
        
output

[25,
 3.0,
 49,
 4.0,
 81,
 5.0,
 121,
 6.0,
 169,
 7.0,
 225,
 8.0,
 289,
 9.0,
 361,
 10.0,
 441,
 11.0,
 529,
 12.0,
 625,
 13.0,
 729,
 14.0,
 841,
 15.0,
 961,
 16.0,
 1089,
 17.0,
 1225]

## Exercise 4

Use python to demonstrate which sentence contains more unique words.

In [7]:
sentence1 = """Data from the CDC’s National 
Health and Nutrition Examination Survey shows that America's drinking habits are changing.
Sure, water is still our most consumed beverage, accounting for nearly half of our total consumption."""

sentence2 = """ But consumption of other beverages, like soft drinks and regular milk, 
are way down across all age groups. It’s a fascinating look into how Americans 
have replaced soda with bottled water."""

In [8]:
words1 = sentence1.lower().split()
words2 = sentence2.lower().split()

In [9]:
if len(set(words1)) > len(set(words2)):
    
    print("Sentence 1 has more unique words")
    
else:
    
    print("Sentence 2 has more unique words")

Sentence 1 has more unique words

## Exercise 5

Write a script that finds the standard deviation of this list of numbers

Formula here:

![](https://www.gstatic.com/education/formulas2/472522532/en/population_standard_deviation.svg)

In [10]:
num_list = list(range(30, 100, 2))
mean = sum(num_list)/len(num_list)
length = len(num_list)

sqrd_diff = []

for i in num_list:
    sd = (i-mean)**2
    sqrd_diff.append(sd)
    
stdev = (sum(sqrd_diff)/length)**.5
stdev

20.199009876724155

## Exercise 6

Calculate the dot product of the two lists of numbers below. Hint: use zip

Explanation: The dot product is equal to the sum of the product of the horizontal components and the product of the vertical components.

In [11]:
nums1 = range(4, 10)
nums2 = range(11, 17)
dp = 0
zipped = zip(nums1, nums2)
for i, j in zipped:
    
    prod = i*j
    
    dp += prod
    
dp

544

## Exercise 7

Use a while loop and a set to iterate over a string until you reach a letter you've already encountered.

In [12]:
word = 'machinelearning'

In [16]:
letter_set = set()
i = 0

while i < len(word):
    
    letter = word[i]
    
    if letter in letter_set:
        break
    else:
        letter_set.add(letter)
        
    i += 1

In [17]:
letter

'e'

In [18]:
letter_set

{'a', 'c', 'e', 'h', 'i', 'l', 'm', 'n'}