# Data Types and Jupyter Notebook


**Agenda**

- How to use Jupyter Notebook
- Assigning variables
- Introduce data types: booleans, floats, integers, and strings
- Basic operations

## Jupyter Notebook keyboard shortcuts

![](https://miro.medium.com/v2/resize:fit:1166/1*otVb8UwGPV-vHH7wjzwRvw.png)

Run the following code by executing shift-enter or command/control-enter

In [ ]:
print("Hello, World!")

Congrats on running your piece of code in this workshop!

## Variables

Variables are containers used for storing objects and data. The data type of that object or  data types determine the type of data that can be stored in a variable.

Let's rerun the hello world command by using a variable

In [ ]:
output = "Hello, World!" 
print(output)

In Python, you can assign data to a variable using the assignment operator "=" (equal sign). The general syntax for assigning data to a variable is shown above

### Variable Naming convention

Rules:

- It must start with a letter (a-z, A-Z) or an underscore (_).

- It can contain letters, digits (0-9), and underscores.

- Variable names are case-sensitive, meaning "variable" and "Variable" are treated as different variables.

- Avoid using Python reserved keywords (e.g., "if," "while," "for") as variable names.

In [2]:
#These variable names work

name = "George"

patient_id = 20

document1 = "text"

In [ ]:
#These don't


1stname = "Jeff"

city,state = "Berkeley, CA"

What happens when you run the previous cell?

**Variable guidelines**

- Choose meaningful names

- Use all lowercass

In [4]:
#Good variable names

oakland_daily_mean_temp = 39.5

legal_corpus_section2 = "Opinion case data"

In [5]:
#Useless variable names

a = 3

stuff = "Python lessons are fun!"

**Jupyter notebook lesson**

In jupyter notebook we can reference previously assigned variables from other cells.

In [ ]:
print(name, patient_id, document1)

**Name Errors**

What happens when we run the following code?

In [ ]:
# day = "Monday"
print(day)

We get an NameError because the `day` variable does not exist. Let's fix that by uncommenting the line where we declare `day`

In [ ]:
day = "Monday"
print(day)

**What does the following code output here?**

In [ ]:
x = 40
x = 50
print("x = ", x)

**What happened here? Does x represent 40 or 50?**

We can also use variables to create other variables

In [ ]:
X = x
X

X represents the same value as x

## Data Types

Every value in python has a specific type.

**Booleans** - A binary choice encoded as True or False. Used to make logical decisions and dictate the flow of programs

**Integers** - Whole numbers without decimal points, can be positive, negative or zero. Ex: 3, 582, -2893

**Float** - Floats are numbers with decimal points or numbers represented in scientific notation. Ex 49.12, -0.98

**Strings** - Strings are sequences of characters, and they are used to represent textual data in Python.
Strings are enclosed in either single quotes (' ') or double quotes (" ").

Assign boolean values to variables

In [6]:
green = True
red = False

We can use the keyword function native to python `type` to figure out the type of a variable

In [8]:
print("What is the type of green?", type(green))

What is the type of green? <class 'bool'>

Assign integers to variables

In [9]:
quantity = 100
price = 5

Use multiplication to calculate revenue

In [ ]:
revenue = quantity * price

revenue

Other mathematical operations

In [ ]:
#addition

2678 + 329

In [ ]:
#Subtraction
40 - 28

In [ ]:
#Division

50 / 5

In [ ]:
#Square

2 ** 2

The type of the number produced by these operations are integers

In [12]:
print(type(revenue))

<class 'int'>

However this changes when floats are involved

Assign floats to variables

In [14]:
z = 2.0

x = 58.10

q = .290

In [ ]:
type(z)

In [13]:
points_per_game = 28.5

games_played = 80

Calculate total number points scored in a season

In [ ]:
total_points = points_per_game * games_played
type(total_points)

Operations involving integers and float produces float

Dividing two integers not divisible by one another produces a float

In [ ]:
num1 = 8
num2 = 5

type(num1/num2)

The `//` operator calculates the whole-number result of division, while the '%' operator calculates the remainder from division.

In [ ]:
12//5

In [ ]:
12 % 5

**Comparison operator**

In Python, comparison operators are used to compare two values and determine the relationship between them. These operators return a Boolean value (True or False) based on whether the comparison is true or false.

Equal to (==): Checks if the values on both sides are equal.

In [ ]:
num1 == num2

In [ ]:
num2 = 8

num1 == num2

Integer and float versions of the same number output `True`

In [ ]:
3 == 3.0

Not equal to (!=): Checks if the values on both sides are not equal.

In [ ]:
num1 != num2

Greater than (>): Checks if the value on the left side is greater than the value on the right side.

In [ ]:
greater_status = 10 > 9
greater_status

Adding an `=` sign changes the operation to greatet than or equal.

In [ ]:
3 >= 3

Lesser than and lesser than or equal comparison

In [ ]:
x = 13
y = 20

x <= y

**Strings**

In jupyter notebook, strings are color coded as red.

Write your first and last name between the quotation marks, which are used to denote strings in python.

In [ ]:
first_name = ""
last_name = ""

print("My name is ", first_name, last_name)

In [ ]:
type(first_name)

We can use single, double or triple quotations, so long as both ends match.

In [17]:
single = 'text'
double = "text"
triple = """text"""

Strings are case sensitive, so what will the following code output?

In [ ]:
"berkeley" == "BerkeleY"

We can use the built-in `len` function to calculate the number of characters in a string.

In [ ]:
word = "Antidisestablishmentarianism"

word_length = len(word)
word_length

In [ ]:
empty_string = ''

len(empty_string)

We can use certain operations on strings.

String concatenation. We can attach strings together by adding them

In [ ]:
full_name = first_name + " " + last_name
print(full_name)

We can duplicate strings by multiplying them by integers

In [ ]:
double_name = full_name*2
print(double_name)

Subtraction and division operations do not apply to strings

In [ ]:
"hello" - "h"

In [ ]:
"california" /2

### Types Conversion

Do you think this code works?

In [ ]:
width = 10
height = "20"

In [ ]:
area = width * height

**Spoiler Alert!!**

It does not. In order to make it work we need to convert height to an integer by using the built-in integer function.

In [ ]:
height = int(height)
area = width*height
area

Converting a float to an integer rounds it down to the nearest whole number

In [ ]:
x = 9.7
int(x)

We can do this with floats and strings as well

In [ ]:
gpa_string = "3.72"
gpa_float = float(gpa_string)
gpa_float

In [ ]:
ranking_int = 10
ranking_str = str(ranking_int)
ranking_str

When converting string representations of number we have to make sure there are only numerical characters in the string.

In [ ]:
#This works

int("4")

In [ ]:
#This does not

int("30 days")

In [ ]:
#Neither does this
float("$38.39")

### Review Problems

**1**

In [21]:
a = 1.0
b = "1"
c = "1.1"

What do each of these operations do?

1. `a + float(b)`
2. `float(b) + float(c)`
3. `a + int(c)`
4. `a + int(float(c))`
5. `int(a) + int(float(c))`
6. `2.0 * b`

**2**

Swap the values of a and z so that a = 10 and  z = 5

In [ ]:
a = 5 
z = 10

**3**

Write out a sentence without punctuation and then concatenate it with a period, exclamation point or question mark.

In [ ]:
sentence = ""
period = "."
exclamation_point = "!"
question_mark = "?"

**4** 

Why do the following code snippets produce errors?

In [ ]:
print('I love python")

In [ ]:
print(super_variable)

In [ ]:
float("3.9O")