## Exercise 1: Hailstone Sequence

Write a function that outputs the hailstone sequence for a given input integer

Hint: use a while loop

Hailstone Sequences follow these rules: 

- If a number is even, divide it by 2 
- If a number is odd, multiply it by 3 and add 1.

This process always ends with the the number 1.

Input: 20


Output: 20, 10, 5, 16, 8, 4, 2, 1

In [1]:
def hailstone(n):
    
    output_sequence = [n]
    
    while n > 1:
        
        if n % 2 == 0:
            n /= 2
        else:
            n = n*3 + 1
            
        output_sequence.append(n)
        
    return output_sequence

In [2]:
hailstone(20)

[20, 10.0, 5.0, 16.0, 8.0, 4.0, 2.0, 1.0]

## Exercise 2 Tax Calculator Upgrade: 


Let's bring back our tax calculator exercise but this time we'll add in another level


Tax rate rules

- 0 - 25000 => 10%

- 25000 - 50,000 => 15%

- 50,000 - inf => 25%

Write a function that calculates the tax bill of a given income.

REMEMBER THAT THE FIRST 25K IS TAXED AT 10% AND THAT THE NEXT 25K IS TAXED AT 15% AND ALL INCOME ABOVE THAT THRESHOLD IS TAXED AT 25%

For example the tax bill 35000 dollars is 25000 * 0.1 + (35000-25000) * 0.15 = 4000

In [7]:
def tax_calc(income):
    
    if income >= 50000:
        post50k = income - 50000
        
        tax_bill = post50k*0.25 + (50000-25000)*0.15 + 25000*0.1
        
    elif income >= 25000:
        
        tax_bill = (income -25000)*0.15 + 25000*0.1
        
    else:
        tax_bill = income*0.1
        
    return tax_bill

In [8]:
tax_calc(60000)

8750.0

## Exercise 3: FizzBuzz

Write a function that takes in a number and prints the numbers from 1 to 100 and for multiples of 3 print "Fizz" instead of the number and for the multiples of 5 print "Buzz".

Output: 1, 
2,
Fizz,
4,
Buzz,
Fizz,
7,
8,
Fizz,
Buzz,
11,
Fizz,
13,
14, 
Fizz Buzz,

In [12]:
def fizzbuzz(n):
    
    for i in range(1, n+1):
        
        if i% 5 ==0 and i %3 == 0:
            print("Fizz Buzz")
        elif i % 5 == 0:
            print("Buzz")
        elif i % 3 == 0:
            print("Fizz")
        else:
            print(i)

In [13]:
fizzbuzz(15)

1
2
Fizz
4
Buzz
Fizz
7
8
Fizz
Buzz
11
Fizz
13
14
Fizz Buzz

## Exercise 4: Sideways Triangle

Write a function that takes in a integer that counts up to and including that number by printing n asterisk as it counts up and down.

Include a default parameter that is set to *

Input: 5


Output:

In [18]:
def sideways(n, symbol = "*"):
    
    for i in range(n+1):
        print(symbol*i)
        
    for i in range(n-1, 0, -1):
        print(symbol*i)

In [19]:
sideways(5)

*
**
***
****
*****
****
***
**
*

In [20]:
sideways(6)

*
**
***
****
*****
******
*****
****
***
**
*

While loop version

In [55]:
def sideways2(n, symbol = "*"):
    i = 1
    up = True
    
    while 0 < i:
        if up:
            print(symbol*i)
            i += 1
            if i == n:
                up = False
        else:
            print(symbol*i)
            i -= 1

In [56]:
sideways2(5)

*
**
***
****
*****
****
***
**
*

## Exercise 5: Case Inversion

Write a function that inverts the casing of a character in a string

Ex: "His name is Dennis" => "hIS NAME IS deNNIS"

In [26]:
def case_invert(string):
    
    output = ""
    
    for i in string:
        if i.isupper():
            i = i.lower()
            output += i
        else:
            i = i.upper()
            output += i
    return output

In [27]:
case_invert("His name is Dennis")

'hIS NAME IS dENNIS'

## Exercise 6: Extract Phone Number

Write a function that takes in some text and extracts the phone number from it.

Remember that the phone is in the ddd-ddd-dddd format.

In [52]:
text = """For general inquiries and information about the National Park Service, 
you can contact their main office through their website
or call the NPS information line at 800-383-3839. Keep in mind that contact information and 
services may vary between different national parks, so it's best to check the 
specific park's website or contact them directly for the most accurate and up-to-date information."""

In [54]:
def extract_phone_number(text):
    phone_number = ""

    for char in text:
        if char.isnumeric():
            phone_number += char
        elif phone_number and char == "-":
            phone_number += char
        else:
            if len(phone_number) >= 10 and phone_number.count('-') <= 2:
                return phone_number.strip("-")

In [53]:
extract_phone_number(text)

'800-383-3839'