## Exercise 1: Hailstone Sequence

Write a function that outputs the hailstone sequence for a given input integer

Hint: use a while loop

Hailstone Sequences follow these rules: 

- If a number is even, divide it by 2 
- If a number is odd, multiply it by 3 and add 1.

This process always ends with the the number 1.

Input: 20


Output: 20, 10, 5, 16, 8, 4, 2, 1

## Exercise 2 Tax Calculator Upgrade: 


Let's bring back our tax calculator exercise but this time we'll add in another level


Tax rate rules

- 0 - 25000 => 10%

- 25000 - 50,000 => 15%

- 50,000 - inf => 25%

Write a function that calculates the tax bill of a given income.

REMEMBER THAT THE FIRST 25K IS TAXED AT 10% AND THAT THE NEXT 25K IS TAXED AT 15% AND ALL INCOME ABOVE THAT THRESHOLD IS TAXED AT 25%

For example the tax bill 35000 dollars is 25000 * 0.1 + (35000-25000) * 0.15 = 4000

## Exercise 3: FizzBuzz

Write a function that takes in a number and prints the numbers from 1 to 100 and for multiples of 3 print "Fizz" instead of the number and for the multiples of 5 print "Buzz".

Output: 1, 
2,
Fizz,
4,
Buzz,
Fizz,
7,
8,
Fizz,
Buzz,
11,
Fizz,
13,
14, 
Fizz Buzz,

## Exercise 4: Sideways Triangle

Write a function that takes in a integer that counts up to and including that number by printing n asterisk as it counts up and down.

Include a default parameter that is set to *

Input: 5


Output:

*
**
***
****
*****
****
***
**
*

## Exercise 5: Case Inversion

Write a function that inverts the casing of a character in a string

Ex: "His name is Dennis" => "hIS NAME IS deNNIS"

## Exercise 6: Extract Phone Number

Write a function that takes in some text and extracts the phone number from it.

Remember that the phone is in the ddd-ddd-dddd format.

In [10]:
text = """For general inquiries and information about the National Park Service, 
you can contact their main office through their website
or call the NPS information line at 800-383-3839. Keep in mind that contact information and 
services may vary between different national parks, so it's best to check the 
specific park's website or contact them directly for the most accurate and up-to-date information."""