# String Formatting and List Comprehensions

String formatting in Python is a way of constructing and manipulating strings by inserting dynamic values into them. It allows you to create more readable and flexible output by substituting placeholders with actual values. Python provides multiple methods for string formatting as we'll see below.

### MadLibs

String concatenation version

In [23]:
name = "Aida"
adjective = "fiesty"
animal = "possom"
action = "leap"

mad_lib = name + " has a pet " + adjective + " " + animal + ". One day, " + name + " saw the " + animal + " " + action + " in the park."

print(mad_lib)

Aida has a pet fiesty possom. One day, Aida saw the possom leap in the park.

This way is laborious and annoying. That's where string formatting comes.

**The `.format()` method way**

The `.format()` method is a built-in string method in Python that allows you to perform string formatting. It provides a flexible and powerful way to construct strings by inserting dynamic values into placeholders within the string.

In [24]:
dow = "Monday"
date = 31
sentence = "Today is {} July {}".format(dow, date)
print(sentence)

Today is Monday July 31

We don't have to convert numbers to strings!

The order of the curly brackets matches the order of the inputs into `.format()`

We can also specify the order inserting the strings

In [16]:
sentence = "Today is {0} July {1}".format(dow, date)
print(sentence)

Today is Monday July 31

Another example.

In [17]:
sentence = "Today is {1} July {0}".format(dow, date)
print(sentence)

Today is 31 July Monday

When it comes the madlib example then we need to specify the string ordering because they are multiple instances of certain strings.

In [18]:
madlib =  "{0} has a pet {1} {2}. One day, {0} saw the {2} {3} in the park.".format(name, adjective, animal, action)
print(madlib)

Yvette Vargas has a pet fiesty possom. One day, Yvette Vargas saw the possom leap in the park.

For loop example

In [22]:
names = ['Aishwarya Sriram', 'Chris Raptopoulos', 'Diana Chen', 'Frances Brittingham',
 'Hayford Atim', 'Maya Schoucair', 'Silvana Moiceanu', 'Yvette Vargas']

for n in names:
    
    print("{} loves Python!\n".format(n))

Aishwarya Sriram loves Python!

Chris Raptopoulos loves Python!

Diana Chen loves Python!

Frances Brittingham loves Python!

Hayford Atim loves Python!

Maya Schoucair loves Python!

Silvana Moiceanu loves Python!

Yvette Vargas loves Python!

**F-strings**

F-strings (Formatted String Literals) (Introduced in Python 3.6). F-strings provide a more concise and readable way of formatting strings by embedding expressions inside curly braces {} directly within the string.

Put a f before the first quotation mark

In [20]:
sentence = f"Today is {dow} July {date}"
print(sentence)

Today is Monday July 31

Madlib example

In [21]:
madlib =  f"{name} has a pet {adjective} {animal}. One day, {name} saw the {animal} {action} in the park."
print(madlib)

Yvette Vargas has a pet fiesty possom. One day, Yvette Vargas saw the possom leap in the park.

For loop example but capitalized names.

In [33]:
names = ['Aishwarya Sriram', 'Chris Raptopoulos', 'Diana Chen', 'Frances Brittingham',
 'Hayford Atim', 'Maya Schoucair', 'Silvana Moiceanu', 'Yvette Vargas']

for n in names:
    
    print(f"{n.upper()} loves Python!\n")

AISHWARYA SRIRAM loves Python!

CHRIS RAPTOPOULOS loves Python!

DIANA CHEN loves Python!

FRANCES BRITTINGHAM loves Python!

HAYFORD ATIM loves Python!

MAYA SCHOUCAIR loves Python!

SILVANA MOICEANU loves Python!

YVETTE VARGAS loves Python!

What does this code tinkering show us?

Not much a real difference between the two, f-strings are just a newer thing.

The old school example. 

%-formatting: The % operator is used to perform string formatting. It replaces placeholders in the string with corresponding values passed as a tuple. The placeholders are represented by % followed by a format specifier.

Don't do this, this is just for show.

In [28]:
# sentence = "Today is %s July %d " % (dow, date)
# print(sentence)

Let's amend the sentence that prints the day of the week and date by adding the correct suffix to the date

In [29]:
suffix = "st"

sentence = f"Today is {dow} July {date}{suffix}"
print(sentence)

Today is Monday July 31st

Let's make generalize this so that it works with any date.

In [ ]:
##CODE HERE

We can also unpack a list into a string using formatting.

Pass a list into the `format` method with an * at the start.

In [32]:
## Give me six numbers
lotto_numbers = []

print("Today's lottery numbers are {}, {}, {}, {}, {}, {}".format(*lotto_numbers))

Today's lottery numbers are 23, 55, 68, 19, 25, 56

Make sure the number of {} matches list length.

**Other ways to format strings with string-formatting**

Use {:.df} to round. d = decimal place.

In [34]:
num = 4.090274

"The number is {:.2f}".format(num)

'The number is 4.09'

You can string-format while you're string-formatting.

In [38]:
d = 3

"The number is {:.{}f}".format(num, d)

'The number is 4.090'

Comma separator for bigger numbers

In [35]:
big_num = 3892674937

"The big number is {:,}".format(big_num)

'The big number is 3,892,674,937'

## List Comprehensions

List comprehensions are a concise and elegant way to create lists in Python. They allow you to construct a new list by performing an operation on each element of an existing iterable (such as a list, tuple, or string) and applying an optional condition to filter the elements. List comprehensions provide a more compact and readable alternative to using traditional loops to generate lists.

Create a new list that is the square of numbers 1-10.

Previous method

In [39]:
squares = []

for i in range(1, 11):
    squares.append(i**2)
squares

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

List comprehension version

In [40]:
squares = [i**2 for i in range(1, 11)]
squares

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

Syntax:

`new_list = [expression for item in iterable if condition]`

`expression` is the operation or transformation to be applied to each item.

`item` is the variable representing each element in the iterable.

`iterable` is the original collection (e.g., list, tuple, string) from which you want to create the new list.

`condition` is an optional filter that can be used to include only certain elements that satisfy a specific condition.

Square only the even numbers

In [41]:
#Old version

even_squares = []

for i in range(1, 11):
    if i%2 == 0:
        even_squares.append(i**2)
even_squares

[4, 16, 36, 64, 100]

In [42]:
even_squares = [i**2  for i in range(1, 11) if i % 2 == 0]

If we want to use an else clause, the syntax gets a little trickier because the `if` gets moved to the front instead of kept in the back.

`new_list = [expression_if_true if condition else expression_if_false for item in iterable]`

Square the evens and double the odds

In [43]:
even_squares_double_odds = [i**2 if i % 2 == 0 else i*2 for i in range(1, 11)]
even_squares_double_odds

[2, 4, 6, 16, 10, 36, 14, 64, 18, 100]

**Nested-iterations with comprehensions**
Syntax:

`[expression for item1 in iterable1 for item2 in iterable2]`

<br>

Create combination pairs

In [61]:
pairs = [(name1, name2) for name1 in names for name2 in names if name1 != name2]
pairs[:15]

[('Aishwarya Sriram', 'Chris Raptopoulos'),
 ('Aishwarya Sriram', 'Diana Chen'),
 ('Aishwarya Sriram', 'Frances Brittingham'),
 ('Aishwarya Sriram', 'Hayford Atim'),
 ('Aishwarya Sriram', 'Maya Schoucair'),
 ('Aishwarya Sriram', 'Silvana Moiceanu'),
 ('Aishwarya Sriram', 'Yvette Vargas'),
 ('Chris Raptopoulos', 'Aishwarya Sriram'),
 ('Chris Raptopoulos', 'Diana Chen'),
 ('Chris Raptopoulos', 'Frances Brittingham'),
 ('Chris Raptopoulos', 'Hayford Atim'),
 ('Chris Raptopoulos', 'Maya Schoucair'),
 ('Chris Raptopoulos', 'Silvana Moiceanu'),
 ('Chris Raptopoulos', 'Yvette Vargas'),
 ('Diana Chen', 'Aishwarya Sriram')]

Using an iteration variable from an outer loop within an inner loop.


Let's flatten this matrix into a 1d list.

In [62]:
matrix = [[1, 2, 3],
          [4, 5, 6],
          [7, 8, 9]]

# Nested iteration using list comprehension
flattened_matrix = [num for row in matrix for num in row]

flattened_matrix

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In this example, we have a 2D list called `matrix`, and we want to flatten it into a 1D list using a list comprehension. The nested iteration is achieved by using two `for` loops within the list comprehension: the outer loop iterates over each row in the `matrix`, and the inner loop iterates over each element (`num`) in the current row. By doing so, we extract all the individual elements from the 2D list and create a flattened version of the `matrix`.