# Practice Exercises

These exercises you work on individually

## Exercise 1: Sorting and flattening

Collect all the numbers in a list of lists into one list and sort them.

In [1]:
nested_list = [[2,3], [9,2,51,6],[9,1,22,44,12],[0]]

In [2]:
flat_list = []

for lst in nested_list:
    flat_list.extend(lst)
    
sorted_flat_list = sorted(flat_list)
sorted_flat_list

[0, 1, 2, 2, 3, 6, 9, 9, 12, 22, 44, 51]

## Exercise 2: String replacement

For each word in a sentence replace a with @, s with $, o with 0, l with !.

But do not touch a letter if its the first character in a word.

For example, analysis => `an@!y$i$`  We do not touch the first a.

Hint: use `.split()`

In [3]:
text = """Instead, your cover letter should go beyond your work history to
talk about things that make you especially well-suited for the job."""

In [4]:
word_list = text.lower().split()
output = []
for word in word_list:
    first_letter = word[0]
    rest = word[1:].replace("a", "@").replace("l", "!").replace("s", "$").replace("o", "0")
    output.append(first_letter+rest)
    
output

['in$te@d,',
 'y0ur',
 'c0ver',
 'letter',
 'sh0u!d',
 'g0',
 'bey0nd',
 'y0ur',
 'w0rk',
 'hi$t0ry',
 't0',
 't@!k',
 'ab0ut',
 'thing$',
 'th@t',
 'm@ke',
 'y0u',
 'e$peci@!!y',
 'we!!-$uited',
 'f0r',
 'the',
 'j0b.']

## Exercise 3: Combos

Create combination pairs for every name in a list

Expected output:

[('Andrea', 'Bob'),
 ('Andrea', 'Cassandra'),
 ('Andrea', 'Doug'),
 ('Bob', 'Cassandra'),
 ('Bob', 'Doug'),
 ('Cassandra', 'Doug')]

In [5]:
names = ['Andrea', 'Bob', 'Cassandra', 'Doug']

In [7]:
combos = []
for i in range(len(names)):
    n1 = names[i]
    for n2 in names[i:]:
        if n1 != n2:
            combos.append((n1, n2))
combos

[('Andrea', 'Bob'),
 ('Andrea', 'Cassandra'),
 ('Andrea', 'Doug'),
 ('Bob', 'Cassandra'),
 ('Bob', 'Doug'),
 ('Cassandra', 'Doug')]

## Exercise 4: Find the Substring

Extract the name located between the parentheses in these texts

In [9]:
txt1 = "While walking in the park, (Emily) found a mysterious old key."
txt2 = "After buying the lottery ticket, (David) couldn't believe his luck when he won."
txt3 = "For the school bake sale, (Sarah) baked some delicious chocolate chip cookies."
txt4 = "On an exciting adventure to the mountains, (Michael) and his friends went."

In [13]:
left_paren_index = txt1.index("(")
right_paren_index = txt1.index(")")

txt1[left_paren_index+1:right_paren_index]

'Emily'

Split version

In [14]:
txt1.split("(")[1].split(")")[0]

'Emily'

## Exercise 5: Distance calculations

Calculate the euclidean and manhattan distances between these pair of numerical lists.

Hint: use the `abs` function for manhattan distance

[Euclidean distance formula](https://www.cuemath.com/euclidean-distance-formula/)


[Manhattan distance formula](https://xlinux.nist.gov/dads/HTML/manhattanDistance.html)

In [15]:
numlist1 = [1,6,8]
numlist2 = [5,1,6]

Euclidean

In [16]:
ed = 0

zipped_nums = zip(numlist1, numlist2)

for i,j in zipped_nums:
    ed += (i-j)**2
    
ed**.5

6.708203932499369

In [17]:
md = 0

zipped_nums = zip(numlist1, numlist2)

for i,j in zipped_nums:
    md += abs(i-j)
md

11