# Walkthrough Exercises


These are exercises I will you through.

## Exercise 1: Prime Numbers

Check to see if a number is prime.

8 => not prime
<br>
7 => prime

In [1]:
#CODE HERE

num = 9

prime = True

for i in range(2, num//2):
    
    if num % i == 0:
        prime =  False
        

print("Prime status ==", prime)

Prime status == False

## Exercise 2: Find other anagrams

Extract the strings from `strings` that have a fellow anagram.

Expected output = ["cat", "act", "god", "dog"]

cat is extracted because there's also act in the list.  

day is not extracted because none of the other strings are its anagram.

In [11]:
strings = ["cat", "act", "god", "dog", "day", "ace"]

In [12]:
anagrams = []

In [13]:
sorted_words = []

In [14]:
for word in strings:
    sw = "".join(sorted(word))
    sorted_words.append(sw)

In [15]:
for i in range(len(sorted_words)):
    word = sorted_words[i]
    
    without_word = sorted_words[:i] + sorted_words[i+1:]
    
    if word in without_word:
        
        anagrams.append(strings[i])

In [16]:
anagrams

['cat', 'act', 'god', 'dog']

## Exercise 3: Match Ends

Given a list of strings, return the count of the number of strings
    where the string length is 2 or more and the first and last chars
    of the string are the same.

Input = ['aba', 'xyz', 'aa', 'x', 'bbb']

Output = 3

In [17]:
lst = ['aba', 'xyz', 'aa', 'x', 'bbb']
lst2 = ['', 'x', 'xy', 'xyx', 'xx']

In [18]:
output = 0

for word in lst:
    
    if len(word) > 1:
        
        first = word[0]
        last = word[-1]
        
        if first == last:
            
            output += 1
output

3

In [21]:
output = 0

for word in lst2:
    
    if len(word) > 1:
        
        first = word[0]
        last = word[-1]
        
        if first == last:
            
            output += 1

In [22]:
output

2

## Exercise 4: Times Tables

Create the multiplication table below

In [23]:
#CODE HERE
r1 = range(1, 11)
r2 = range(1, 11)

In [24]:
for i in r1:
    row = []
    for j in r2:
        
        row.append(str(i*j))
        
    print(" ".join(row))

1 2 3 4 5 6 7 8 9 10
2 4 6 8 10 12 14 16 18 20
3 6 9 12 15 18 21 24 27 30
4 8 12 16 20 24 28 32 36 40
5 10 15 20 25 30 35 40 45 50
6 12 18 24 30 36 42 48 54 60
7 14 21 28 35 42 49 56 63 70
8 16 24 32 40 48 56 64 72 80
9 18 27 36 45 54 63 72 81 90
10 20 30 40 50 60 70 80 90 100

In [26]:
times_table = []

for i in r1:
    row = []
    for j in r2:
        
        row.append(str(i*j))
        
    times_table.append(row)

In [27]:
times_table

[['1', '2', '3', '4', '5', '6', '7', '8', '9', '10'],
 ['2', '4', '6', '8', '10', '12', '14', '16', '18', '20'],
 ['3', '6', '9', '12', '15', '18', '21', '24', '27', '30'],
 ['4', '8', '12', '16', '20', '24', '28', '32', '36', '40'],
 ['5', '10', '15', '20', '25', '30', '35', '40', '45', '50'],
 ['6', '12', '18', '24', '30', '36', '42', '48', '54', '60'],
 ['7', '14', '21', '28', '35', '42', '49', '56', '63', '70'],
 ['8', '16', '24', '32', '40', '48', '56', '64', '72', '80'],
 ['9', '18', '27', '36', '45', '54', '63', '72', '81', '90'],
 ['10', '20', '30', '40', '50', '60', '70', '80', '90', '100']]

Expected output

In [10]:
#DON"T RUN THIS CELL OR ELSE YOU"LL LOSE THE TIMES TABLE

1 2 3 4 5 6 7 8 9 10
2 4 6 8 10 12 14 16 18 20
3 6 9 12 15 18 21 24 27 30
4 8 12 16 20 24 28 32 36 40
5 10 15 20 25 30 35 40 45 50
6 12 18 24 30 36 42 48 54 60
7 14 21 28 35 42 49 56 63 70
8 16 24 32 40 48 56 64 72 80
9 18 27 36 45 54 63 72 81 90
10 20 30 40 50 60 70 80 90 100

## Exercise 5: Rotation

Rotate the values for x,y,z

So that x =>y, y=>z, z =>

Input: x = 10, y = 20, z = 30
<br>
Output: x = 30, y = 10, z = 20

In [28]:
x = 10
y = 20
z = 30

temp1 = z
temp2 = x
z = y
y = temp2
x = temp1

## Exercise 6: Vowel Race

We have two text passages. We're going to count up the number of vowels in each passage until one of them reaches 10.

Hint: casing

In [29]:
passage1 = """The whole idea of a cover letter is that it can help the employer see you as more than just your résumé. 
Managers generally aren’t hiring based solely on your work history"""

passage2 = """The No. 1 mistake people make with cover letters is that they simply use them to summarize their résumé. 
This makes no sense — hiring managers don’t need a summary of your résumé! It’s on the very next page!"""

In [30]:
vowels = "aeiou"

In [31]:
vowels1_tally = 0
vowels2_tally = 0

threshold = 10

i = 0

while vowels1_tally < threshold and vowels2_tally < threshold:
    
    c1 = passage1[i].lower()
    c2 = passage2[i].lower()
    
    
    if c1 in vowels:
        vowels1_tally += 1
        
    if c2 in vowels:
        vowels2_tally += 1
    
    i += 1

In [32]:
vowels1_tally

10

In [33]:
vowels2_tally

8